// $mainColor: white;  $secondColor: #7180ac; $hightlight: #a8d0db; $textColor: #7180ac; $coolColor: #ff2200; $navColor: $secondColor;
$mainColor: #2b4570;  $secondColor: #7180ac; $hightlight: #a8d0db; $textColor: #ffffff; $coolColor: #1e93d6; $grey: #dcdcdc5d; $navColor: $secondColor;
// START ABOUT ---------------------------------------------------------------------

.bot-shadow {
    padding-bottom: .8rem;
    box-shadow: 0 .9rem .6rem rgba(0,0,0,.15)!important;
}

hr {
    width: 75%;
    border-top: 1px solid $secondColor;
} 

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills2 {
    flex-direction: column;
    margin-bottom: 1rem;
}

.skill-box {

    margin: .5rem;

    img {
      max-height: 8rem;
      width: auto;
    }
    
}

@media(min-width: 1200px) {
    .skills2 {
        flex-direction: row;
        margin-bottom: 1rem;
    }
}
// END ABOUT ---------------------------------------------------------------------
// Start Contact ---------------------------------------------------------------------

.smaller {
    font-size: 1rem;
    color: white;
}



h4 {
    padding-top: 2rem;
}

form {
    padding: .5rem .9rem;
    background-color: #7180acd2;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 23, 37, 0.103);
}

@media (min-width:1200px) {
    form {
        padding: 1.5rem 3rem ;
    }
}

// End Contact ---------------------------------------------------------------------

// START CONTENT---------------------------------------------------

h1 {
    font-size: 4rem;
}

p {
    font-size: 1.4rem;
}

.main {
    padding-bottom: 5rem;
}

.main-photo {
    width: 20rem;
    img {
        border-radius: 50%;
        border: $coolColor solid 1px;
        box-shadow: white;
    }
}

.blurb {
    max-width: 50rem;
    margin: 0 auto;
}

.github {
    color: black;
    transition: color .4s ease;

    &:hover {
        color: inherit;
    }
}

.main-skills {
    background-color: $grey;
    border-radius: 0;
    padding: 2rem 1rem;
    color: $textColor;

    .main-skills_info {
        text-align: left;
    }

    .main-skills_progress {
        text-align: right;
    }
}

.project-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    max-width: 100%;
    margin:1rem 0;
}

.btn-link {
    margin: .40rem 0;
    display: inline-block;
    font-weight: 400;
    color: #fff !important;
    background-color: #ff2200d5 !important;
    border-color: #343a40;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:hover {
        background-color: $secondColor!important;
    }
}


@media (min-width: 40rem) {

    .main-skills {
        background-color: $grey;
        border-radius: .5rem;
        border-left: solid 3px $coolColor;
        color: $textColor;
    
        .main-skills_info {
            text-align: left;
        }
    
        .main-skills_progress {
            text-align: right;
        }
    }

    .project-cont {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
    }
    

    .card {
        max-width: 40%;
    }
}

// END CONTENT---------------------------------------------------