.smaller {
    font-size: 1rem;
    color: white;
}



h4 {
    padding-top: 2rem;
}

form {
    padding: .5rem .9rem;
    background-color: #7180acd2;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 23, 37, 0.103);
}

@media (min-width:1200px) {
    form {
        padding: 1.5rem 3rem ;
    }
}