$mainColor: #2b4570;  $secondColor: #7180ac; $hightlight: #a8d0db; $textColor: #ffffff; 
$coolColor: #1e93d6; $grey: #dcdcdc5d; $navColor: #171f36;

// HEADER =======================================================================================

// html {
//     height: 100vh;
// }

body {
    margin: 0;
    background-color: $mainColor;
    color: white;
    // overflow: hidden;
}

a {
    color: white;
    text-decoration: none;
}

.my-nav {
    z-index: 99;
    background-color: $navColor;
    box-shadow:2px 0px 30px 5px rgba(0, 0, 0, 0.664) ;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
}

.inner-side {
 img {
     width: 100px;
 }
}

.menu-item {
    width: 33%;
    text-align: center;
    margin: 0;
    padding: 1rem 0;
    // transform: none;
    font-size: 1.5rem;
    font-weight: bold;
    transition: .2s ease;

    &:hover {
        color:rgba(154, 158, 158, 0.8);
    }
}

.menu-item.active {
    color:rgba(154, 158, 158, 0.8);
}

// END HEADER

// START MAINPAGE

.page-container {
    position: relative;
}

.main-header {
    font-size: 2rem;
    text-align: center;
    margin-top: 4rem;
}

.socials {
    position: absolute;
    top: 0;
    right: 0;
}

// END MAIN PAGE

// START WORKPAGE

.card-container {
    padding: 4rem;
}

.card-img {
    height: 200px;
    width: 100%;
}

// END WORKPAGE

// START CONTACT PAGE

.contact-h1 {
    font-size: 7.5rem;
    text-align: center;
    padding: 4rem 0;
}

// END CONTACT PAGE

// START MISC

.page-container {
    margin-top: 6rem;
}

@media(min-width: 40rem) {
    .my-nav {
         position: fixed;
         top: 0;
         height: 100vh;
         width: 6rem;
    }

    .navigation {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }


    .menu-item {
        width: 33%;
        display: block;
        margin: 0;
        text-align: center;
        transform: rotate(-90deg);
        font-size: 2rem;
        transition: .2s ease;
        padding: 0 2rem;
    }

    .page-container {
        margin-left: 6rem;
    }
}


// some random transition group css

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.fade-exit {
    opacity: 0;
}

.pageSlider-exit  {
    z-index: 1;
    // display: none;
}

.pageSlider-enter  {
    z-index: 10;
}

.pageSlider-enter.left {
    transform: translate3d(100%, 0, 0);
}

.pageSlider-enter.right  {
    transform: translate3d(-100%, 0, 0);
}

.pageSlider-exit.left  {
    // transform: translate3d(-100%, 0, 0);
}

.pageSlider-exit.right {
    // transform: translate3d(100%, 0, 0);
}

.pageSlider-enter.pageSlider-enter-active  {
    transform: translate3d(0, 0, 0);
    transition: all .8s ease-in-out;
}

.pageSlider-exit {
    opacity: 0;
    margin-top: 4rem;
    position: absolute;
    top: 0;
    width: 100vw;
    // transform: translate3d(0, 0, 0);
    transition: all .8s ease-in-out;
}