$mainColor: #2b4570;  $secondColor: #7180ac; $hightlight: #a8d0db; $textColor: black; 
$coolColor: #1e93d6; $grey: #dcdcdc5d; $navColor: #171f36;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

// HEADER =======================================================================================

// html {
//     height: 100vh;
// }

h1 {
    font-family: 'Roboto Slab', serif;
} 

h2 {
    font-family: 'Roboto Slab', serif;
}

body {
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    margin: 0;
    background-color: $grey;
    color: $textColor;
    // overflow: hidden;
}

.page-container {
    margin-top: 3rem;
}

a {
    color: $textColor;
    text-decoration: none;
}

.my-nav {
    z-index: 99;
    background-color: $navColor;
    box-shadow:2px 0px 30px 5px rgba(0, 0, 0, 0.664) ;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
}

.inner-side {
 img {
     width: 100px;
 }
}

.menu-item {
    font-family: 'Roboto Slab', serif;
    width: 33%;
    text-align: center;
    margin: 0;
    padding: 1rem 0;
    // transform: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    transition: .2s ease;

    &:hover {
        color:rgba(154, 158, 158, 0.8);
    }
}

.menu-item.active {
    color:rgba(154, 158, 158, 0.8);
}

// END HEADER

// START MAINPAGE

.home {
    text-decoration: underline;
    cursor: pointer;
    transition: color .1s ease-in-out;

    &:hover {
        color: $coolColor;
    }
}

.page-container {
    position: relative;
}

.main-header {
    font-size: 2rem;
    text-align: center;
    margin-top: 4rem;
}

.socials {
    position: absolute;
    top: 0;
    right: 0;
}

.responsive-img-box {
    text-align: center;
    padding-bottom: 2rem;

    img {
        max-width: 100%;
    }

    button {
        
    }
}

// END MAIN PAGE

// START ABOUT PAGE

.employment {
    
    h2 {
        // width: 25%;
        // display: inline;
        // margin-right: 1rem;
    }

    hr {
        // width: 75%;
        // display: inline-block;
    }
}

.employment-history {
    height: 20rem;
    overflow-y: scroll;
}

// END ABOUT PAGE

// START WORKPAGE

.chip-container {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;

    div {
        margin: .3rem .3rem;
    }
}

.web-card {
    margin: 1rem 0 !important;
}

.card-container {
    padding: 4rem;
}

.card-img {
    height: 200px;
    width: 100%;
}

.card-head {
    background-color: $navColor;
    color: white;
}

.card-body {
    background-color: $secondColor;
}

.sorter {
    margin-bottom: 3rem;
}

// END WORKPAGE

// START CONTACT PAGE

.contact-h1 {
    font-size: 7.5rem;
    text-align: center;
    padding: 4rem 0;
}

// END CONTACT PAGE

// START MISC

@media(min-width: 40rem) {
    .page-container {
        margin-top: 0;
    }

    .my-nav {
         position: fixed;
         top: 0;
         height: 100vh;
         width: 6rem;
    }

    .navigation {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }


    .menu-item {
        width: 33%;
        display: block;
        margin: 0;
        text-align: center;
        transform: rotate(-90deg);
        font-size: 2rem;
        transition: .2s ease;
        padding: 0 2rem;
    }

    .page-container {
        margin-left: 6rem;
    }

    .web-card {
        margin: 1rem !important;
    }
}

// some random transition group css

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.fade-exit {
    opacity: 0;
}

.pageSlider-exit  {
    z-index: 1;
    // display: none;
}

.pageSlider-enter  {
    z-index: 10;
}

.pageSlider-enter.left {
    transform: translate3d(100%, 0, 0);
}

.pageSlider-enter.right  {
    transform: translate3d(-100%, 0, 0);
}

.pageSlider-enter.pageSlider-enter-active  {
    transform: translate3d(0, 0, 0);
    transition: all .8s ease-in-out;
}

.pageSlider-exit {
    opacity: 0;
    // margin-top: 3rem;
    position: absolute;
    top: 0;
    width: 100vw;
    // transform: translate3d(0, 0, 0);
    transition: all .8s ease-in-out;
}

.placeholdie {
    width: 4rem;
    height: 4rem;
}

.scroll-bottom {
    z-index: 99;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    padding: 3rem;
    font-size: 4rem;
    color: orange;
    cursor: pointer;
}