$mainColor: white;  $secondColor: #7180ac; $hightlight: #a8d0db; $textColor: #7180ac; $coolColor: #ff2200; $navColor: $secondColor;

body{
    background: none;
}


#startpoint {
    // z-index: -1;
    position: relative;
    min-height: 100vh;
    // background: $mainColor;
    color: $textColor;
    background-image: url("../images/pattern.jpg");
}

#startpoint::after {
    z-index: 1;
    background-color: rgba(29, 29, 29, 0.986);
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
}

.main {
    position: relative;
    z-index: 2;
}


// START HEADER ----------------------------------------------------------------------

.my-nav {
    padding: .5rem 1rem;
    margin-bottom: 1rem;
}

.navigation {
    display: flex;
    position: static;
    background-color: rgba(27, 27, 27, 0.918);
    left: 0;
    top: 0;
    width: 100%;
}

.inner-side {
    display: none;
    position: relative;
    border-bottom: $coolColor solid 2px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 34%;
    background-color: $navColor;
    height: 80px;
    color: white;
    transition: background-color .3s ease-in-out;

    &:hover {
        background-color: $mainColor;
        color:black;
    }

    i, p{
        color:inherit;
        transition: color .3s ease-in-out;

        &:hover {
            color: inherit;
        }
    }

    i {
        display: none;
    }

    p {
        margin-top: .2rem;
        margin-bottom: .2rem;
    }
}

.menu-item i:first-child {
    margin-top:.5rem;
}

.img-overlay {
    height: 120px;
    width: 120px;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.363);
    z-index: 2;
}
// END HEADER ----------------------------------------------------------------------
// START FOOTER

footer {
    position: absolute;
    bottom: 0;
    height: 4rem;
    background-image: linear-gradient(white, $hightlight);

    .row {
        height: 4rem;
        align-content: center;
    }
}

// END FOOTER
//misc styling

.active {
    background-color: white !important;

    color: black !important;
}

p {
    word-spacing: .3rem;
}

img {
    width: 100%;
}

//misc styling end
// START MEDIA QUERIES
@media (min-width: 768px) {
    footer {
        margin-left: 120px;
    }
}

@media (min-width: 1200px) {
    #startpoint {
        margin-left: 120px;
    }

    .my-nav {
        padding: 0;
        margin-bottom: 0;
    }

    .navigation {
        position: fixed;
        display: block;
        left: 0;
        top: 0;
        width: 120px;
        height: 100%;
    }

    .inner-side {
        display: block;
    }


    .menu-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $navColor;
        width: 120px;
        height: 80px;
        color: white;
    
        &:hover {
            color:black;
        }
    
        i, p{
            color:inherit;
            transition: color .3s ease-in-out;
            display: block;
    
            &:hover {
                color: inherit;
            }
        }
    
        p {
            margin-top: .2rem;
            margin-bottom: .2rem;
        }
    }

    // .name-h2 {
    //     margin-left:14rem;
    // }

    .main-photo {
        margin-top: 10rem;
        
        img {

            transition: transform .3s ease-in-out;

            &:hover {
                transform: scale(1.02);
            }
        }
    }
}
// END MEDIA QUERIES